*{
  --primary-color: #6100E0;
  --white-color: #ffffff;
  --dark-color: #222222;
  --primary-font: 'Montserrat', sans-serif;
}
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  font-family: var(--primary-font);
  background-color: var(--dark-color);
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
#root, #__next {
  isolation: isolate;
}
#mainHeader {
    background: var(--primary-color);
    border-radius: 50px;
    box-shadow: 0 1px 10px #000;
}
.headerWrapper {
    padding: 15px 20px;
}
#mainHeader ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
#mainHeader ul li {
    padding: 10px 10px;
}
#mainHeader ul li a {
    color: var(--white-color);
    text-decoration: none;
}
ul.userList {
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    gap: 10px;
}

ul.userList li {
    width: calc(25% - 8px);
    background: #fff;
    padding: 10px 10px;
    border-radius: 5px;
}